<!DOCTYPE html>
<html>
<head>
    <title>{{ icon.title }} - Iconostasis</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?v=1"> 
</head>
<body>

<div class="navbar">
    <div class="nav-left">
        <h2 class="site-title">Iconostasis</h2>
        <a href="/">Home</a>
        <a href="/upload">Upload</a>
    </div>

    <div class="nav-right">
        {% if user %}
            <div class="username-display">
                Logged in as <strong>{{ user.display_name }}</strong>
            </div>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
    </div>
</div>
<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
        <h3>Icon Details</h3>
        <p><strong>Title:</strong> {{ icon.title }}</p>
        <p><strong>Saint(s):</strong> 
            {% for saint in icon.saints %}
                <a href="/?saint={{saint.name}}">{{ saint.name }}{% if not loop.last %}, {% endif %}</a>
            {% endfor %}
        </p>
        <p><strong>Tradition:</strong> <a href="/?tradition_id={{ icon.tradition.id }}">{{ icon.tradition.name }}</p></a>
        <p><strong>Century:</strong> <a href="/?century={{ icon.century }}"> {{ icon.century }}</p></a>
        <p><strong>Region:</strong> <a href="/?region={{ icon.region }}"> {{ icon.region }}</p></a>
        <p><strong>Iconographer:</strong> {{ icon.iconographer or "Unknown" }}</p>
        <p><strong>Uploaded by:</strong> <a href="/user/{{ icon.creator.username }}">{{uploader_name}}</p></a>
    </div>

    <!-- Main content -->
    <div class="main">
        <img class="icon-img" src="{{ icon.image_url }}" alt="{{ icon.title }}">
        <h2>Description</h2>
        <p>{{ icon.description }}</p>
    </div>
</div>

</body>
</html>

